/* Default Horizontal view */
.page-width {
	max-width: 90%;
}

.page-content {
	max-width: 1000px;
}

.page-width--narrow {
	padding-left: 0;
	padding-right: 0;
}

div#brand-app::after {
	content: "";
	clear: both;
	display: block;
}

#brand-app img {
	border: none;
}

#brand-app .images-container {
	flex-wrap: nowrap;
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}

#brand-app #carousel-nav-container {
	display: block;
	text-align: right;
	padding-bottom: 24px;
}

#brand-app #carousel-nav-right,
#brand-app #carousel-nav-left {
	display: inline-block;
	background: #ddd;
	border-radius: 50%;
	padding: 10px;
	margin-right: 5px;
	opacity: 0.5;
	line-height: 1.0;
}

#brand-app #carousel-nav-right.active,
#brand-app #carousel-nav-left.active {
	cursor: pointer;
	opacity: 1.0;
	transition: background-color 200ms linear;
}

#brand-app #carousel-nav-left.active:hover {
	background: #bbb;
}

#brand-app .hide-scroll::-webkit-scrollbar {
	display: none;
}

#brand-app .hide-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#brand-app .image-wrapper {
	box-sizing: border-box;
	width: 180px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border: 1px solid #757575;
}

#brand-app .image-wrapper img {
	width: 100%;
}

#brand-app .featured-title {
	margin-top: 10px;
}

#brand-app .shortcuts-container {
	overflow-x: scroll;
}

#brand-app.wrapAround .shortcuts {
	display: flex;
	min-width: 0;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#brand-app .shortcuts {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	min-width: 1000px;
}

#brand-app .shortcut-letter {
	cursor: pointer;
	background: #fafafa;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	margin: 0 4px 4px 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 38px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#brand-app .shortcut-letter[disabled] {
	color: #ccc;
}

#brand-app .brand-section {
	margin: 20px 0;
	position: relative;
}

#brand-app .letter {
	border-right: 1px solid #ccc;
	bottom: 0;
	left: 0;
	padding: 16px 0;
	position: absolute;
	top: 0;
	width: 60px;
}

#brand-app .brands {
	overflow: hidden;
	padding: 15px 0px 15px 100px;
	width: 100%;
	box-sizing: border-box;
}

#brand-app .brand {
	display: inline-block;
	padding: 1px 10px 7px 0;
	vertical-align: top;
	width: 32.5%;
	box-sizing: border-box;
}

#brand-app a {
	text-decoration: none;
	color: inherit;
}

#brand-app #no-results {
	text-align: center;
	padding: 120px 40px;
}

#brand-app .search-wrapper {
	position: relative;
	margin: 20px 0;
	width: 30%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
	max-width: 320px;
}

#brand-app .search-wrapper svg.search-icon {
	width: 21px;
	position: absolute;
	top: 8px;
	left: 11px;
}

#brand-app #brand-search {
	font-size: 16px;
	margin: 0px;
	padding: 8px 42px 8px 42px;
	box-sizing: border-box;
	width: 100%;
}

#brand-app:not(.brand-layout-simple-catalogue) .brands-wrapper {
	width: 70%;
	float: right;
}

#brand-app #search-wrapper #cancel-button {
	display: none;
}

#brand-app #search-wrapper[active] #cancel-button {
	display: block;
}

#brand-app #cancel-button {
	width: 30px;
	height: 30px;
	padding: 10px;
	border-radius: 3px;
	background: #f4f4f4;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 45px;
	font-size: 0;
}

#brand-app #cancel-button path {
	fill: #757575;
}

#scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #fff;
	width: 60px;
	height: 60px;
	border: 1px solid;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
}

@media(max-width: 800px) {
	#brand-app .brands {
		padding: 10px 0px 10px 50px;
	}

	#brand-app .letter {
		padding: 11px 0;
		width: 30px;
	}


	#brand-app .brand {
		width: 50%;
	}

	#brand-app .search-wrapper {
		max-width: none;
		width: 100%;
		padding-right: 0px;
	}

	#brand-app .brands-wrapper {
		width: 100%;
	}

	#brand-app #cancel-button {
		right: 5px;
	}

	#brand-app .image-wrapper {
		width: 150px;
		height: 150px;
	}
}

@media(max-width: 480px) {
	#brand-app .brand {
		width: 100%;
	}

}

/* List View */
/* Page View */
/* Vertical View */
#brand-app.brand-layout-simple-catalogue .letter,
#brand-app.brand-layout-catalogue .letter,
#brand-app.brand-layout-vertical .letter,
#brand-app.brand-layout-page .letter,
#brand-app.brand-layout-list .letter {
	border-bottom: 1px solid #ccc;
	position: relative;
	border-right: 0;
	width: 100%;
}

#brand-app.brand-layout-simple-catalogue .brands,
#brand-app.brand-layout-catalogue .brands,
#brand-app.brand-layout-vertical .brands,
#brand-app.brand-layout-page .brands,
#brand-app.brand-layout-list .brands {
	padding: 15px 0px 15px 0px;
}

#brand-app.brand-layout-vertical .brand,
#brand-app.brand-layout-page .brand,
#brand-app.brand-layout-list .brand {
	display: block;
	width: 100%;
}

@media(max-width: 800px) {

	#brand-app.brand-layout-simple-catalogue .brands,
	#brand-app.brand-layout-catalogue .brands,
	#brand-app.brand-layout-vertical .brands,
	#brand-app.brand-layout-page .brands,
	#brand-app.brand-layout-list .brands {
		padding: 10px 0px 10px 0px;
	}

	#brand-app.brand-layout-simple-catalogue .letter,
	#brand-app.brand-layout-catalogue .letter,
	#brand-app.brand-layout-vertical .letter,
	#brand-app.brand-layout-page .letter,
	#brand-app.brand-layout-list .letter {
		width: 100%;
	}
}

/* Page View */
#brand-app.brand-layout-page .brands-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#brand-app.brand-layout-page .brand-section {
	width: 32%;
}

@media(max-width: 700px) {
	#brand-app.brand-layout-page .brand-section {
		width: 48%;
	}
}

@media(max-width: 400px) {
	#brand-app.brand-layout-page .brand-section {
		width: 100%;
	}
}

/* Vertical View */
#brand-app.brand-layout-vertical .brands-wrapper {
	column-count: 3;
	column-gap: 20px 20px;
}

#brand-app.brand-layout-vertical .brand-section {
	margin: 0;
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
	padding: 0 10px;
}

@media(max-width: 700px) {
	#brand-app.brand-layout-vertical .brands-wrapper {
		column-count: 2;
	}
}

@media(max-width: 400px) {
	#brand-app.brand-layout-vertical .brands-wrapper {
		column-count: 1;
	}
}

/* Catalog View */
#brand-app.brand-layout-simple-catalogue .brands-wrapper,
#brand-app.brand-layout-catalogue .brands-wrapper {
	width: 100%
}

#brand-app.brand-layout-catalogue .brands {
	margin: 14px 0 30px 0;
	display: grid;
	grid-template-columns: 16.4% 16.4% 16.4% 16.4% 16.4% 16.4%;
	gap: 16px;
	box-sizing: border-box;
	padding-right: 70px;
}

#brand-app.brand-layout-catalogue .catalogue-wrapper {
	width: 100%;
	display: inline-block;
	padding: 20px;
	border: 1px solid;
	box-sizing: border-box;
}

#brand-app.brand-layout-catalogue div.catalogue-image:empty {
	display: inline-block;
}

#brand-app.brand-layout-catalogue .catalogue-image {
	display: inline-block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

@media(max-width: 1100px) {
	#brand-app.brand-layout-catalogue .brands {
		grid-template-columns: 20% 20% 20% 20% 20%;
		padding-right: 64px;
	}
}

@media(max-width: 900px) {
	#brand-app.brand-layout-catalogue .brands {
		grid-template-columns: 25% 25% 25% 25%;
		padding-right: 48px;
	}
}

@media(max-width: 700px) {
	#brand-app.brand-layout-catalogue .brands {
		grid-template-columns: 33.33% 33.33% 33.33%;
		padding-right: 32px;
	}
}

@media(max-width: 500px) {
	#brand-app.brand-layout-catalogue .brands {
		grid-template-columns: 50% 50%;
		padding-right: 16px;
	}
}

/* Simple Catalog */
#brand-app.brand-layout-simple-catalogue .brands {
	margin: 14px 0 30px 0;
	display: grid;
	grid-template-columns: 16.4% 16.4% 16.4% 16.4% 16.4% 16.4%;
	gap: 16px;
	box-sizing: border-box;
	padding-right: 70px;
}

#brand-app.brand-layout-simple-catalogue .catalogue-wrapper {
	width: 100%;
	display: inline-block;
	padding: 20px;
	border: 1px solid;
	box-sizing: border-box;
}

#brand-app.brand-layout-simple-catalogue div.catalogue-image:empty {
	display: inline-block;
}

#brand-app.brand-layout-simple-catalogue .catalogue-image {
	display: inline-block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

@media(max-width: 1100px) {
	#brand-app.brand-layout-simple-catalogue .brands {
		grid-template-columns: 20% 20% 20% 20% 20%;
		padding-right: 64px;
	}
}

@media(max-width: 900px) {
	#brand-app.brand-layout-simple-catalogue .brands {
		grid-template-columns: 25% 25% 25% 25%;
		padding-right: 48px;
	}
}

@media(max-width: 700px) {
	#brand-app.brand-layout-simple-catalogue .brands {
		grid-template-columns: 33.33% 33.33% 33.33%;
		padding-right: 32px;
	}
}

@media(max-width: 500px) {
	#brand-app.brand-layout-simple-catalogue .brands {
		grid-template-columns: 50% 50%;
		padding-right: 16px;
	}
}
